In [7]:
from generic import game
import pandas as pd

In [9]:
g = game()
dh = g.get()
dh

         a  b
0  Florida  2
1  Florida  8
2  Arizona  4

In [13]:
for col in cats:
    se = dh.groupby("a")[col].value_counts()

pandas.core.series.Series